canvas {
    border: 1px solid black;
    left: 5px;
    top: 5px;
    position: absolute;
}

input[type=range] {
    height: 10px;
    border-radius: 10px;
    outline: none;
    width: 255px;
    box-shadow: 0 0 2px #444444, inset 0 0 5px #444444;
}

input[type=number]:focus {
    border: 2px solid #508cfc;
}

.circle_color {
    width: 20px;
    height: 20px;
    border-radius: 20px;
}

#draw {
    z-index: 15;
}

#color {
    left: 974px;
    position: absolute;
}

#color_value{
    width: 100px;
    height: 35px;
}

#add {
    border: 1px solid black;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    text-align: center;
    font-size: 25px;
}